.header {
  flex-direction: column;
  background-image: url(../../../images/djbest.jpg);
  min-height: 600px;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.para {
  cursor: pointer;
  /* scale: 1.1; */
  /* font-weight: bolder; */
  color: #fff;
  background-color: black;
  opacity: 0.6;
  font-family: noto;
}

.header-content {
  max-height: 1330px;
  row-gap: 6rem;
  min-height: calc(100vh- 80px);
}
.header-content-right img {
  max-width: 500px;
}

@media screen and (min-width: 900px) {
  .header-content {
    grid-template-columns: 6fr 4fr;
    align-items: center;
    column-gap: 3rem;
    max-height: 900px;
    font-size: 100%;

    /* width: 100%; */
  }
  .header-title {
    margin-bottom: 2.5rem;
    margin-left: 30%;
  }
  .ranga-img {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 0px;
  }
  .btn {
    margin-left: 35%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 480px) {
  .header-content {
    grid-template-columns: 6fr 4fr;
    align-items: center;
    column-gap: 3rem;
    max-height: 900px;
    font-size: 60%;

    /* width: 100%; */
  }
  .header-title {
    margin-bottom: 2.5rem;
    margin-left: 30%;
  }
  .ranga-img {
    width: 80%;
    margin-top: 30%;
    margin-left: 10%;
  }
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(255, 0, 55) 0%,
    rgb(255, 174, 66) 29%,
    #52de45 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.lineUp {
  animation: 5s anim-lineUp ease-out;
  left: 0px;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
