.brand-and-toggler {
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0px;
}
.nav-link {
    font-weight: normal;
}
.nav-link:hover {
    color: red;
}
.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae316;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-brand {
    align-items: center;
}

.navbar-brand span:first-child {
    display: inline-block;
    border: 3px solid var(--white-color);
    padding: 0 1.2rem !important;
    margin-right: 1rem;
    transition: var(--transition);
}

.navbar-brand span:last-child {
    transition: var(--transition);
}

.navbar-brand:hover span:first-child {
    background-color: var(--white-color);
    color: var(--red-color);
}

.navbar-brand:hover span:last-child {
    color: var(--white-color);
}

.navbar-collapse {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--dark-color);
    height: 100%;
    width: 100%;
    padding: 5rem;
    transform: translateX(100%);
    transition: var(--transition);
    z-index: 5;
}

.show-navbar {
    transform: translate(0);
}

.navbar-collapse .navbar-hide-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    transition: var(--transition);
}
@media screen and (max-width: 480px) {
    .navhead {
        font-size: 60%;
    }
}

.navbar-collapse .navbar-hide-btn:hover {
    opacity: 0.9;
}

.navbar-collapse .nav-item {
    margin: 2rem 0;
    font-family: "Ubuntu", sans-serif;
}

.navbar-collapse .nav-link {
    transition: var(--transition);
    display: inline-block;
}

.navbar-collapse .nav-link:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 480px) {
    .navbar-collapse {
        width: 300px;
    }
}

.ranga-logo {
    max-width: 60px;
    height: 60px;
}

.navbar-image {
    max-height: 20%;
    max-width: 40%;
    margin-left: 30%;
}
#google_translate_element {
    width: 30px !important;
    height: 30px !important;
}

div#google_translate_element div.goog-te-gadget-simple {
    font-size: 0px;
}

div#google_translate_element div.goog-te-gadget-simple {
    background-color: black;
    height: 22px;
    display: hidden;
    width: 22px;
    cursor: pointer;
}

div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span {
    color: white;
    display: hidden !important;
}

div#google_translate_element
    div.goog-te-gadget-simple
    a.goog-te-menu-value
    span:hover {
    color: yellow;
}
.profile-image {
    z-index: 5;
    width: 35px;
    margin-bottom: 6px;
    height: 35px;
    border-radius: 50%;
    outline: 2px solid lightgreen;
    outline-offset: 2px;
    margin-left: auto;
}

.profile-name {
    z-index: 5;
    margin-right: 2rem;
}

@media screen and (max-width: 600px) {
    .profile-name {
        display: none;
    }
}

.vaibhav-login {
    background-color: black;
    color: aqua;
    padding: 1rem;
}
